/+build
/aclocal.m4
/autom4te.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
xcuserdata
Makefile
Makefile.in
.dirstamp
*.o
*~
.dirstamp
doc/reference/images/*.png
lib-src/enet/compile
lib-src/zipios++/compile
