body { 
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #8f8f8f;
  text-align: center;
}

.dbody { 
  width: 800px;
left:50%;
margin-left:-400px;
  padding: 5px;
  position: relative;
}

li {
  padding: 4px;
}

.note {
  background-color: #eeeeee;
  border: thin solid black;
  padding: 5px;
}

.navbar {
  width: 800px;
/*  background-color: #88bbee; */
  top: 0;
  border-bottom: 1px solid black;
}

.navbar p { 
}

.navbar .head {
  background-color: #88eeff;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  border-top: thin solid black;
  border-bottom: thin solid black;
}

.bottombar 
{
  /*  border-top: 1px solid black; */
  padding: 1px;
  background-color: #333333;
  color: #8f8f8f;
  text-align: center;
  border-left: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
}

.bottombar p { 
  padding-left: 1.0em;
  font-size: 70%;
}

div.logo { background: #88bbee; width:100%; }

.logo a:link { color: #88bbee; }
.logo a:visited { color: #88bbee; }

.main {
   text-align: left;
 padding-left: 1.0em;
  padding-right: 1.0em;
  padding-top: 0.1em;
  padding-bottom: 1em;
  margin-top: 0;
  border-left: thin solid black;
  border-right: thin solid black;
}

.main h2 {
}

.main h3 {
  border-bottom: 1px dotted #999;
}

.news .date {
  color: gray;
}  

table.download {
  background-color: lightgray;
  border-spacing: 0.6em;
}

.download th {
  padding: 5px;
  font-size: 120%;
  border-bottom: thin solid black;
}
