[Desktop Entry]
Version=1.0
_Name=Enigma
_Comment=Uncover pairs of stones while navigating obstacles using a marble
TryExec=enigma
Exec=enigma
Terminal=false
StartupNotify=false
Icon=enigma
Type=Application
Categories=Application;Game;PuzzleGame;
