[Desktop Entry]
Version=1.30
Name=Enigma
Name[be]=Enigma
Name[cs]=Enigma
Name[da]=Enigma
Name[de]=Enigma
Name[el]=Enigma
Name[es]=Enigma
Name[fi]=Enigma
Name[fr]=Enigma
Name[gd]=Enigma
Name[hr_HR]=Enigma
Name[hu]=Enigma
Name[it]=Enigma
Name[nl]=Enigma
Name[pl]=Enigma
Name[pt]=Enigma
Name[ru]=Enigma
Name[sk]=Enigma
Name[sv]=Enigma
Comment=Uncover pairs of stones while navigating obstacles using a marble
Comment[be]=Кіруйце шарыкам, пераадольваючы перашкоды, каб знайсці пары аднолькавых камянёў
Comment[cs]=Odhalujte dvojice kamenů pomocí kuličky ve světě naplněném překážkami
Comment[da]=Afdæk stenpar, mens du navigerer igennem forhindringer ved hjælp af en bold
Comment[de]=Decke Steinpaare mit einer Kugel in einer Welt voller Hindernisse auf
Comment[el]=Αποκάλυψε ζεύγη πετρωμάτων όσο πλοηγείς γύρο από εμπόδια με έναν βόλο 
Comment[es]=Descubre pares de piedras mientras sorteas obstáculos usando una canica
Comment[fi]=Paljasta kiviparit liikuttaen kuulaa esteiden läpi
Comment[fr]=Découvrez des paires de pierres en naviguant à travers des obstacles avec une bille
Comment[gd]=Siubhail le marbhal seachad air cnapan-starra gus càraidean cloiche a nochdadh
Comment[hr_HR]=Otkrijte parove kamenčića dok izbjegavate prepreke pomoću špekule
Comment[hu]=Fedj fel kőpárokat egy márványgolyóval akadályok között manőverezve
Comment[it]=Scopri le coppie di pietre mentre superi gli ostacoli utilizzando una biglia
Comment[nl]=Leg paren stenen bloot tijdens het navigeren tussen obstakels met een knikker
Comment[pl]=Odkryj pary kamieni podczas poruszania kulki poprzez rożne przeszkody
Comment[pt]=Descobrir pares de pedras enquanto percorre os obstáculos com um berlinde
Comment[ru]=Управляйте шариком, преодолевая препятствия, чтобы найти пары одинаковых камней
Comment[sk]=Odokry dvojice kameňov pri navigácií prekážok s použitím guličky
Comment[sv]=Upptäck par med stenar medan du tar dig igenom hinder med hjälp av en stenkula
TryExec=enigma
Exec=enigma
Terminal=false
StartupNotify=false
Icon=enigma
Type=Application
Categories=Application;Game;PuzzleGame;

